@{
    ViewData["Title"] = "Home Page";
}

<head>
	<link rel="stylesheet" href="~/Styles/HomeStyle.css" type="text/css" />
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="small-container">
	<h2 class="featured-title">Featured Products</h2>
	<div class="book-row">
		<div class="col-4">
			<img src="">
			<h4>Product Name</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star-o" ></i>
			</div>
			<p>Price</p>
		</div>
		<div class="col-4">
			<img src="">
			<h4>Product Name</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star-half-o" ></i>
			</div>
			<p>Price</p>
		</div>
		<div class="col-4">
			<img src="">
			<h4>Product Name</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
			</div>
			<p>Price</p>
		</div>
	</div>
		
	<h2 class="latest-title">Latest Products</h2>
	<div class="book-row">
		<div class="col-4">
			<img src="">
			<h4>Product Name</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star-o" ></i>
			</div>
			<p>Price</p>
		</div>
		<div class="col-4">
			<img src="">
			<h4>Product Name</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star-half-o" ></i>
			</div>
			<p>Price</p>
		</div>
		<div class="col-4">
			<img src="">
			<h4>Product Name</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star-half-o" ></i>
				<i class="fa fa-star-o" ></i>
			</div>
			<p>Price</p>
		</div>
		<div class="col-4">
			<img src="">
			<h4>Product Name</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
			</div>
			<p>Price</p>
		</div>
		<div class="col-4">
			<img src="">
			<h4>Product Name</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star-half-o" ></i>
				<i class="fa fa-star-o" ></i>
			</div>
			<p>Price</p>
		</div>
		<div class="col-4">
			<img src="">
			<h4>Product Name</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star-half-o" ></i>
				<i class="fa fa-star-o" ></i>
			</div>
			<p>Price</p>
		</div>
		<div class="col-4">
			<img src="">
			<h4>Product Name</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star-half-o" ></i>
				<i class="fa fa-star-o" ></i>
			</div>
			<p>Price</p>
		</div>
		<div class="col-4">
			<img src="">
			<h4>Product Name</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star-half-o" ></i>
				<i class="fa fa-star-o" ></i>
			</div>
			<p>Price</p>
		</div>
		<div class="col-4">
			<img src="">
			<h4>Product Name</h4>
			<div class="rating">
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star" ></i>
				<i class="fa fa-star-half-o" ></i>
				<i class="fa fa-star-o" ></i>
			</div>
			<p>Price</p>
		</div>
	</div>
</div>
