@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Rookies.CustomerSites.ViewModel.Book>
<h3>ALL BOOKS</h3>
    @foreach (var book in Model)
    {
        <li>
            <a asp-area="" asp-page="/ProductDetail" asp-route-id="@book.BookId" style="color:#0F0668; text-decoration:none;">
                Name: @book.BookName - - Author: @book.Author - - Price: @book.BookPrice
            </a>
        </li>
    }