@model List<Rookies.CustomerSites.ViewModel.Book>
<h3>BOOK IN CATEGORY</h3>

    @foreach (var book in Model)
    {
        <h5><a href="book/@book.BookId" style="color:#0F0668; text-decoration:none;">@book.BookName</a></h5>
    }
