@page
@model Rookies.CustomerSites.Pages.IndexModel
@{
}

<form asp-page="./Index"  method="get">
    <div class="form-actions no-color">
        <p>
                <input type="text" asp-for ="@Model.BookName"  placeholder="Find Book"/>
                <input type="submit" class="btn btn-primary"/>
        </p>
    </div>
</form>