@page "/book-search"
@model Rookies.CustomerSites.Pages.BookSearchModel
@{
}

<form asp-page="./Index"  method="get">
    <div class="form-actions no-color">
        <p>
                <input type="text" asp-for ="@Model.BookName"  placeholder="Find Book"/>
                <input type="submit" class="btn btn-primary"/>
        </p>
    </div>
</form>

@await Component.InvokeAsync("BookSearch", Model.PagedResponseVM.Items);