@model List<Rookies.CustomerSites.ViewModel.Book>
<h3>BOOK LIST</h3>
<ul>
    @foreach (var book in Model)
    {
        <li>
            <a href="">Name: @book.BookName - - Author: @book.Author - - Price: @book.BookPrice</a>
        </li>
    }
</ul>