@model Rookies.CustomerSites.Models.Book

<h6><a href="https://localhost:7089/book/@Model.BookId" style="color:#0F0668; text-decoration:none;">@Model.BookName</a></h6>
<p style="color:#33D1EA">@Model.Author</p>