@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Rookies.CustomerSites.ViewModel.Book

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="col-lg-3 text-center">
	<div class="card border-0 bg-light mb-2">
		<div class="card-body">
			<img src="C:\Users\Vdho1\Desktop\DNWeb1\BookStoreWebApp\rookies-admin\public\education.jpg" width="500" height="600">
		</div>
	</div>
	
	<h6 style="color:#0F0668;">@Model.BookName</h6>
	<p style="color:#33D1EA;">@Model.Author</p>
	<p style="color:#33D1EA;">@Model.BookPrice$</p>

	<div class="mt-1 d-flex justify-content-between align-items-center">
        <div class="small-ratings"> 
			<i class="fa fa-star rating-color" id="star-1" asp-handler=""></i> 
			<i class="fa fa-star rating-color" id="star-2"></i> 
			<i class="fa fa-star rating-color" id="star-3"></i> 
			<i class="fa fa-star rating-color" id="star-4" onclick="myFunction()"></i> 
			<i class="fa fa-star rating-color" id="star-5"></i> 
		</div>
    </div>

</div>

<script>
	function myFunction() {
		document.getElementById("star-4").innerHTML = "Hello World";
		
	}
</script>