@model Rookies.CustomerSites.Models.Book

<div class="col-lg-3 text-center">
	<div class="card border-0 bg-light mb-2">
		<div class="card-body">
			<img src="" class="img-fluid" alt="" />
		</div>
	</div>
	
	<h6 style="color:#0F0668;">@Model.BookName</h6>
	<p style="color:#33D1EA;">@Model.Author</p>

</div>

